.container {
  margin-top: 32px;
}

.reviewHeader {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f3f4f6;
  color: #e2574c;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewerName {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.starFilled {
  color: #fbbf24;
  font-size: 14px;
}

.starEmpty {
  color: #e5e7eb;
  font-size: 14px;
}
